[connections.github]
api_key = "xxxxxx"

[connections.todoist]
api_key = "xxxxxx"

[oauth2.spotify]
name = "Spotify"
jobs = ["workflow/spotify-yearly-playlist"]
client_id = "xxxxx"
client_secret = "xxxxx"
auth_url = "https://accounts.spotify.com/authorize"
token_url = "https://accounts.spotify.com/api/token"
scopes = [
    "user-library-read",
    "playlist-modify-public",
    "playlist-modify-private"
]

[web]
address = "127.0.0.1:8080"
admin_acl = 'client_ip in ["127.0.0.1"]'

[webhooks.azure_monitor]
# filter = 'true'
todoist = { project = "Software", section = "Outages" }

[webhooks.grafana]
# secret = "xxxxxx"  # Optional authorization header value for webhook authentication
# filter = 'true'
todoist = { project = "Software", section = "Outages" }

[webhooks.honeycomb]
trusted_secrets = [
    # "xxxxxx"
]
# filter = 'true'
todoist = { project = "Software", section = "Outages" }

[webhooks.sentry]
# secret = "xxxxxx"
# filter = 'true'
todoist = { project = "Software", section = "Errors" }

[webhooks.tailscale]
# secret = "xxxxxx"
# filter = 'true'
todoist = { project = "Software", section = "Security" }

[webhooks.terraform]
# secret = "xxxxxx"
todoist = { project = "Software", section = "Maintenance" }

[[workflows.calendars]]
name = "Personal"
url = "https://example.com/calendar.ics"
cron = "*/30 * * * *"
priority = 4
todoist = { project = "Life", section = "Plans" }

[[workflows.github_notifications]]
cron = "*/15 * * * *"
todoist = { project = "Hobbies", section = "Open Source" }

[[workflows.github_releases]]
repository = "hashicorp/vault"
cron = "0 */8 * * *"
filter = "!prerelease && !draft"
todoist = { project = "Hobbies", section = "Software" }

[[workflows.rss]]
name = "Citation Needed"
homepage = "https://citationneeded.news/"
url = "https://citationneeded.news/rss/"
cron = "@daily"

[[workflows.rss]]
name = "SRE Weekly"
homepage = "https://sreweekly.com/"
url = "https://sreweekly.com/feed/"
cron = "@daily"

[[workflows.rss]]
name = "Tailscale Releases"
homepage = "https://tailscale.com/changelog/"
url = "https://tailscale.com/changelog/index.xml"
cron = "0 */6 * * *"

[[workflows.rss]]
name = "Word of the Day"
homepage = "https://www.merriam-webster.com/word"
url = "https://www.merriam-webster.com/word/feed/rss2"

[[workflows.youtube]]
name = "Alexander the Ok"
channel_id = "UC9XjwCMWhes6R3jtOzZx50A"

[[workflows.youtube]]
name = "Dakar"
channel_id = "UCJVKwvv58Xo3Rt4rF3NiL9w"
filter = "title contains \"extended highlights\""

[[workflows.youtube]]
name = "Formula 1"
channel_id = "UCB_qr75-ydFVKSF9Dmo6izg"
filter = "title contains \"highlights | \" && !(title contains \"f2 \")"

[[workflows.xkcd]]
cron = "0 8 * * *"