html {
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

h1 {
    font-size: 2rem;
    font-weight: 100;
}

h1>strong {
    font-weight: 700;
}

.header {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.header>img {
    height: 30px;
    aspect-ratio: 5/1;
}

footer {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0.8rem;
    opacity: 0.7;
}

a>button {
  text-decoration: none;
  border: none;
  background: #0F5A80;
  border-radius: 3px;
  padding: 1rem 2rem;
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
  transition: ease background 150ms;
}

a>button:hover,
a>button:focus {
  background: #117bb0;
}